<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ReservacionEditDlg" widgetVar="ReservacionEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditReservacionTitle}">
            <h:form id="ReservacionEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{reservacionController.selected != null}">
                        <p:outputLabel value="#{bundle.EditReservacionLabel_idReservacion}" for="idReservacion" />
                        <p:inputText id="idReservacion" value="#{reservacionController.selected.idReservacion}" title="#{bundle.EditReservacionTitle_idReservacion}" required="true" requiredMessage="#{bundle.EditReservacionRequiredMessage_idReservacion}"/>
                        <p:outputLabel value="#{bundle.EditReservacionLabel_fechaReservacion}" for="fechaReservacion" />
                        <p:calendar id="fechaReservacion" pattern="MM/dd/yyyy" value="#{reservacionController.selected.fechaReservacion}" title="#{bundle.EditReservacionTitle_fechaReservacion}" required="true" requiredMessage="#{bundle.EditReservacionRequiredMessage_fechaReservacion}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditReservacionLabel_cantidad}" for="cantidad" />
                        <p:inputText id="cantidad" value="#{reservacionController.selected.cantidad}" title="#{bundle.EditReservacionTitle_cantidad}" required="true" requiredMessage="#{bundle.EditReservacionRequiredMessage_cantidad}"/>
                        <p:outputLabel value="#{bundle.EditReservacionLabel_idFuncion}" for="idFuncion" />
                        <p:selectOneMenu id="idFuncion" value="#{reservacionController.selected.idFuncion}" required="true" requiredMessage="#{bundle.EditReservacionRequiredMessage_idFuncion}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{funcionController.itemsAvailableSelectOne}"
                                           var="idFuncionItem"
                                           itemValue="#{idFuncionItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditReservacionLabel_idUsuario}" for="idUsuario" />
                        <p:selectOneMenu id="idUsuario" value="#{reservacionController.selected.idUsuario}" required="true" requiredMessage="#{bundle.EditReservacionRequiredMessage_idUsuario}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"
                                           var="idUsuarioItem"
                                           itemValue="#{idUsuarioItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{reservacionController.update}" value="#{bundle.Save}" update="display,:ReservacionListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ReservacionEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ReservacionEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
