<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListReservacionTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="ReservacionListForm">
                <p:panel header="#{bundle.ListReservacionTitle}">
                    <p:dataTable id="datalist" value="#{reservacionController.items}" var="item"
                                 selectionMode="single" selection="#{reservacionController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idReservacion}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListReservacionTitle_idReservacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.idReservacion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListReservacionTitle_fechaReservacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechaReservacion}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListReservacionTitle_cantidad}"/>
                            </f:facet>
                            <h:outputText value="#{item.cantidad}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListReservacionTitle_idFuncion}"/>
                            </f:facet>
                            <h:outputText value="#{item.idFuncion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListReservacionTitle_idUsuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.idUsuario}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{reservacionController.prepareCreate}" update=":ReservacionCreateForm" oncomplete="PF('ReservacionCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":ReservacionViewForm" oncomplete="PF('ReservacionViewDialog').show()" disabled="#{empty reservacionController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":ReservacionEditForm" oncomplete="PF('ReservacionEditDialog').show()" disabled="#{empty reservacionController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{reservacionController.destroy}" update=":growl,datalist" disabled="#{empty reservacionController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
