<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <p:growl autoUpdate="true" class="ui-growl"/>
            <p:panel styleClass="fondoPanel" header="Fecha de la función: 24 de mayo del 2016">
                <h:panelGrid columns="1" cellpadding="10">
                    <h:outputLabel value="EL CASCANUECES"/>
                    <h:outputText                           value= "Es un cuento de hadas-ballet estructurado en dos actos, que fue encargado por el director de los Teatros Imperiales Ivan Vsevolozhsky en 1891 y se estrenó en 1892. La música fue compuesta por Piotr Ilich Chaikovski entre 1891 y 1892. Se trata de su op.
                                                            71 y es el tercero de sus ballets"/>
                    <h:outputLabel value="Horario: 10:00 a 12:00 hrs"/>
                </h:panelGrid>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Elige tus boletos:"/>
                    <p:spinner id="cuota" min="1" max="10">
                        <f:validateLength minimum="4" maximum="8"/>
                        <p:clientValidator event="blur"/>
                        <p:tooltip for="cuota" value="Elija la cantidad de boletos"/>
                    </p:spinner>
                </h:panelGrid>
                <h:panelGrid columns="1">
                    <div align="center">
                        <p:commandButton id="btn" value="Reservar"/>
                    </div>
                </h:panelGrid>

            </p:panel>
        </h:form>
    </h:body>
</html>

