<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <p:layoutUnit position="center" >
        <p:panel style="background-color: aquamarine; height: 98%; width: 255px;" >
            <p:outputLabel value="Conoce a nuestros cuates" style="margin-left: 2%; color: withe; font-style: italic; font-size: 20px; font-family: Gill;" />
            <div>
                <p:carousel style="margin-top: 50%; margin-left: 15%;" autoPlayInterval="1000" numVisible="1" effect="easeInStrong" vertical="true" circular="true">
                    <p:graphicImage library="images" name="ball1.jpg" width="150" height="100"/>
                    <p:graphicImage library="images" name="ball2.jpg" width="150" height="100"/>
                    <p:graphicImage library="images" name="ball3.jpg" width="150" height="100"/>
                    <p:graphicImage library="images" name="ball4.jpg" width="150" height="100"/>                    
                </p:carousel>
            </div>
        </p:panel>
            </p:layoutUnit>
    </h:body>
</html>

