<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:h="http://xmlns.jcp.org/jsf/html"      
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Master Theater</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <h:outputStylesheet library="CSS" name="david.css"/>
    </h:head>
    <h:body>
        
            <p:panel styleClass="fondo">
            <div align="center" class="header">
                <p:graphicImage library="images" name="logo_master.png"/>
                <a id="carrito" href="#"><p:graphicImage library="images" name="carrito.png"/></a>
                <a id="asesion" href="#"><p:outputLabel styleClass="sesion" value="Iniciar sesion"/></a>
            </div>

        </p:panel>       
           
    </h:body>
</html>

