<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>Reservaciones</title>
        <h:outputStylesheet library="CSS" name="rocio_estilos.css"/> 
    </h:head>
    <h:body>
        <p:layout fullPage="true">
            <p:layoutUnit position="north" resizable="true">
                <ui:insert name="encabezado">
                    <ui:include src="/templates/header_1.xhtml" />
                </ui:insert>
            </p:layoutUnit>

            <p:layoutUnit position="west" styleClass="ladoIzqClass" size="400" >

                <ui:insert name="lado">
                    <ui:include src="/templates/panelIzquierdo.xhtml" />
                </ui:insert>

            </p:layoutUnit>

            <p:layoutUnit position="center">

                <ui:insert name="contenido">
                    <ui:include src="/templates/pag_bienvenido.xhtml"/>
                </ui:insert>
            </p:layoutUnit>
            <p:layoutUnit position="south" size="50">
                <div id="pie">
                    <ui:insert name="pie">
                        <ui:include src="/templates/footer.xhtml" />
                    </ui:insert>
                </div>
            </p:layoutUnit>

        </p:layout>
    </h:body>
</html>

