<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="CSS" name="rocio_estilos.css"/> 
    </h:head>
    <h:body>
        
            <h:form>
               

                <p:panel styleClass="panelInicio">
                    <h:panelGrid columns="1" cellpadding="5">
                        <h:outputLabel value="BIENVENIDO" style="font-size: 100px; font: bolder"/>
                        <h:outputLabel value="Para comenzar, selecciona una función"/>

                    </h:panelGrid>

                </p:panel>

            </h:form>
      
    </h:body>
</html>

