<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="CSS" name="rocio_estilos.css"/> 
    </h:head>
    <h:body  >

        <h:form>
            
            <p:panel id="elPanelPrincipal">
            <p:calendar id="fecha" value="#{moController.fecha}" showOn="button"  mode="popup" navigator="true"
                        yearRange="c-99:c+0">
                <p:ajax process="fecha" partialSubmit="true" event="dateSelect" listener="#{moController.construirCartelera()}"/>   
                <p:tooltip for="fecha" value="Ver cartelera"/>
            </p:calendar>          
            <br></br>

            <br></br>
            <br></br>
            <div style="background-color: darkcyan; width: 285px" > 
                <p:growl id="msgs" showDetail="true" />               
              
                
                <p:accordionPanel widgetVar="accordion" value="#{moController.items}"  var="item" dynamic = "true" cache="false">
                     
                    <p:tab title="#{item.nombreObra}">
                        <h:panelGrid columns="1" cellpadding="10">

                            <h:outputText value="Horario: #{item.horario}" />

                            <h:outputText value="Actores principales: #{item.actor_principal}" />

                            <h:outputText value="Director: #{item.directoObra}" />
                        </h:panelGrid>
                    </p:tab>
                    
                   
                </p:accordionPanel>

            </div>
            </p:panel>

        </h:form>   


    </h:body>
</html>

