<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <h:outputStylesheet library="CSS" name="allan_estilos.css"/>
    </h:head>
    <h:body>
        <p:layoutUnit position="north"  size="145">
            <p:panel styleClass="fondo">

                <div align="center" class="header">
                    <p:graphicImage library="images" height="95" name="logo_master.png"/>
                </div>

            </p:panel>                                                               
        </p:layoutUnit> 

        <p:panel styleClass="fondo">
            <h:form>
                <p:growl id="msgs" showDetail="true" />

                <p:fieldset legend="Nueva Función" style="margin-bottom:20px">
                    <br></br>
                    <h:panelGrid columns="6">
                        <h:outputLabel value="Obra:"/>
                        <p:selectOneMenu id="idObra" value="#{llenarFuncion.selected.idObra}" required="true">
                            <f:selectItems value="#{llenarFuncion.itemsAvailableSelectOneO}"
                                           var="idObraItemO"
                                           itemValue="#{idObraItemO}"/>
                        </p:selectOneMenu>

                        <h:outputLabel value="Sala:"/>
                        <p:selectOneMenu id="idSala" value="#{llenarFuncion.selected.idSala}" required="true">
                            <f:selectItems value="#{llenarFuncion.itemsAvailableSelectOneS}"
                                           var="idSalaItemS"
                                           itemValue="#{idSalaItemS}"/>
                        </p:selectOneMenu>

                        <h:outputLabel value="Fecha:"/>

                        <p:calendar id="fecha" showOn="button"  mode="popup" navigator="true"
                                    yearRange="c-99:c+0" value="#{llenarFuncion.fecha}" mindate="#{llenarFuncion.fecha}" >
                            <p:ajax process="fecha" partialSubmit="true" event="dateSelect"  update=""/>   
                            <p:tooltip for="fecha" value="Ver cartelera"/>
                        </p:calendar>          

                        <h:outputLabel value="Horario:"/>
                        <p:selectOneMenu id="horario" value="#{llenarFuncion.selected.horario}" required="true">
                            <f:selectItem itemValue="10:00 a 12:00" itemLabel="10:00 a 12:00" />
                            <f:selectItem itemValue="12:00 a 14:00" itemLabel="12:00 a 14:00" />
                            <f:selectItem itemValue="14:00 a 16:00" itemLabel="14:00 a 16:00" />
                            <f:selectItem itemValue="16:00 a 18:00" itemLabel="16:00 a 18:00" />
                            <f:selectItem itemValue="18:00 a 20:00" itemLabel="18:00 a 20:00" />
                            <f:selectItem itemValue="20:00 a 22:00" itemLabel="20:00 a 22:00" />
                        </p:selectOneMenu>

                        <h:outputLabel value="Costo:"/>
                        <p:inputText id="costo" label="costo" value="#{llenarFuncion.costo}" required="true">                        
                        </p:inputText>

                    </h:panelGrid>
                    <br></br>
                    <h:panelGrid columns="1">
                        <p:commandButton value="Guardar" action="#{llenarFuncion.guardar()}" icon="ui-icon-plus" update="basicDT" validateClient="true"  />                       
                    </h:panelGrid>
                    <h:panelGrid columns="1">
                        <br></br>
                        <p:dataTable id="basicDT" var="car" value="#{llenarFuncion.funcion}">
                            <f:facet name="header">
                                Función
                            </f:facet>
                            <p:column headerText="Id Funcion">
                                <h:outputText value="#{car.idFuncion}" />
                            </p:column>
                            <p:column headerText="Obra">
                                <h:outputText value="#{car.idObra.titulo}" />
                            </p:column>
                            <p:column headerText="Sala">
                                <h:outputText value="#{car.idSala.nombre}" />
                            </p:column>
                            <p:column headerText="Fecha">
                                <h:outputText value="#{car.fechaFuncion}" >
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Horario">
                                <h:outputText value="#{car.horario}" />
                            </p:column>
                            <p:column headerText="Costo">
                                <h:outputText value="#{car.costo}" />
                            </p:column>
                            <p:column headerText="Cupo">
                                <h:outputText value="#{car.cupo}" />
                            </p:column>

                        </p:dataTable>
                    </h:panelGrid>

                </p:fieldset>

            </h:form>
        </p:panel>
        <p:layoutUnit position="south" size="45">
            <div align="center" class="fondo" style="background-color: darkred;">
                <h:panelGrid columns="1">
                    <h:outputText value="Todos los derechos reservados" style="color: white;"/>
                </h:panelGrid>
            </div>                  
        </p:layoutUnit>      
    </h:body>
</html>

