<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <h:outputStylesheet library="CSS" name="allan_estilos.css"/>
    </h:head>
    <h:body>
        <p:layoutUnit position="north"  size="145">
            <p:panel styleClass="fondo">

                <div align="center" class="header">
                    <p:graphicImage library="images" height="95" name="logo_master.png"/>
                </div>

            </p:panel>                                                               
        </p:layoutUnit> 

        <p:panel styleClass="fondo">
            <h:form>
                <p:growl id="msgs" showDetail="true" />

                <p:fieldset legend="Nueva Obra" style="margin-bottom:20px">
                    <br></br>
                    <h:panelGrid columns="6">
                        <h:outputLabel value="Género:"/>
                        <p:selectOneMenu id="idGenero" value="#{llenarObra.selected.idGenero}" required="true">
                            <f:selectItems value="#{llenarObra.itemsAvailableSelectOne}"
                                           var="idGeneroItem"
                                           itemValue="#{idGeneroItem}"/>
                        </p:selectOneMenu>

                        <h:outputLabel value="Título:"/>
                        <p:inputText id="titulo" label="titulo" value="#{llenarObra.titulo}" required="true">

                        </p:inputText>


                        <h:outputLabel value="Director:"/>
                        <p:inputText id="director" label="director" value="#{llenarObra.director}" required="true">

                        </p:inputText>


                        <h:outputLabel value="Autor:"/>
                        <p:inputText id="autor" label="autor" value="#{llenarObra.autor}" required="true">

                        </p:inputText>


                        <h:outputLabel value="País:"/>
                        <p:inputText id="pais" label="pais" value="#{llenarObra.pais}" required="true">

                        </p:inputText>


                        <h:outputLabel value="Actor Principal:"/>
                        <p:inputText id="actor" label="actor" value="#{llenarObra.actor}" required="true">

                        </p:inputText>

                    </h:panelGrid>
                    <br></br>
                    <h:panelGrid columns="1">
                        <p:commandButton id="envia" value="Guardar" action="#{llenarObra.guardar()}" icon="ui-icon-plus"  update="basicDT, titulo, director, autor, actor, pais" validateClient="true" >                        
                        </p:commandButton>    

                    </h:panelGrid>
                    <h:panelGrid columns="1">
                        <br></br>
                        <p:dataTable id="basicDT" var="car" value="#{llenarObra.obra}" >
                            <f:facet name="header">
                                Obras
                            </f:facet>
                            <p:column headerText="Id Obra">
                                <h:outputText value="#{car.idObra}" />
                            </p:column>
                            <p:column headerText="Género">
                                <h:outputText value="#{car.idGenero.genero}" />
                            </p:column>
                            <p:column headerText="Titulo">
                                <h:outputText value="#{car.titulo}" />
                            </p:column>
                            <p:column headerText="Director">
                                <h:outputText value="#{car.director}" />
                            </p:column>
                            <p:column headerText="Autor">
                                <h:outputText value="#{car.autor}" />
                            </p:column>
                            <p:column headerText="País">
                                <h:outputText value="#{car.pais}" />
                            </p:column>
                            <p:column headerText="Actor Principal">
                                <h:outputText value="#{car.actorPrincipal}" />
                            </p:column>
                            <p:column headerText="Editar">
                                <h:commandButton  value="Editar" action="#{llenarObra.Editar(car.idObra)}" />
                            </p:column>
                            <p:column headerText="Eliminar">
                                <h:commandButton  value="Eliminar" action="#{llenarObra.Eliminar(car.idObra)}">
                                   
                                </h:commandButton>
                               
                            </p:column>
                        </p:dataTable>
                    </h:panelGrid>
                </p:fieldset>
            </h:form>
        </p:panel>
        <p:layoutUnit position="south" size="45">
            <div align="center" class="fondo" style="background-color: darkred;">
                <h:panelGrid columns="1">
                    <h:outputText value="Todos los derechos reservados" style="color: white;"/>
                </h:panelGrid>
            </div>                  
        </p:layoutUnit>      
    </h:body>
</html>
