<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Editar Producto</title>
    </h:head>
    <h:body>
       
     <p:layout fullPage="true">
      <h:form>
               <p:layoutUnit position="north" size="50" resizable="true" closable="true" collapsible="true">
                    Edicion  Producto
                </p:layoutUnit>
        
                    <p:layoutUnit position="center">
                    <h:panelGrid columns="2">
                     <p:outputLabel value="Id" for="id" />
                     <h:inputText id="id" value="#{llenarObra.id}" title="Id"  />
                      </h:panelGrid> 
                  
                      <h:panelGrid columns="3">
                    <p:outputLabel value="Género" for="genero" />
                    <h:inputText id="genero" value="#{llenarObra.selected.idGenero}" title="Género" />
                    <p:message for="genero"/>                    
                    <p:outputLabel value="Titulo" for="titulo" />
                    <h:inputText id="titulo" value="#{llenarObra.titulo}" title="Titulo" />
                    <p:message for="titulo"/>                    
                    <p:outputLabel value="Director" for="director" />
                    <h:inputText id="director" value="#{llenarObra.director}" title="Director" />
                    <p:message for="director"/>   
                    <p:outputLabel value="Autor" for="autor" />
                    <h:inputText id="autor" value="#{llenarObra.autor}" title="Autor" />
                    <p:message for="autor"/>   
                    <p:outputLabel value="Pais" for="pais" />
                    <h:inputText id="pais" value="#{llenarObra.pais}" title="Pais" />
                    <p:message for="pais"/>
                    <p:outputLabel value="Actor Principal" for="actor" />
                    <h:inputText id="actor" value="#{llenarObra.actor}" title="Actor" />
                    <p:message for="actor"/> 
                </h:panelGrid>
                 </p:layoutUnit>
            <p:layoutUnit position="south" size="50" closable="true" collapsible="true">
                 <h:panelGrid columns="2">
                  
                     <h:commandButton id="registroCommand" value="Guardar" action="#{llenarObra.GuardarEdicion(llenarObra, llenarObra.id)}"/>
                     <h:commandButton id="registroCommand1" value="Ir a Lista" action="#{llenarObra.prepareList()}"/>
                  
                  </h:panelGrid>   
                  </p:layoutUnit>
        </h:form>  
            </p:layout>
       
    </h:body>
</html>