<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <h:outputStylesheet library="CSS" name="allan_estilos.css"/>
    </h:head>
    <h:body>

        <p:layout fullPage="true">

            <p:layoutUnit position="north"  size="145">
                <p:panel styleClass="fondo">                    
                    <h:panelGrid columns="2">                    
                        <h:form>
                        <p:growl id="messages" />
                        <p:splitButton value="Menú" update="messages" icon="ui-icon-disk">
                            <p:menuitem value="Modificar Funciones"  update="messages" icon="ui-icon-arrowrefresh-1-w" />
                            <p:menuitem value="Ver Reservaciones"  ajax="false" icon="ui-icon-close" />
                            <p:separator />
                            <p:menuitem value="Cerrar Sesión" url="http://www.primefaces.org" icon="ui-icon-extlink" />
                        </p:splitButton>
                    </h:form>
                     
                        <p:graphicImage library="images" id="imagen" height="95" name="logo_master.png"/>
                    
                    </h:panelGrid>
                       
                </p:panel>                                                               
            </p:layoutUnit> 

            <p:layoutUnit position="west" size="450">
                <p:panel style="background-color: darkred; height: 98%; width: 430px;" >
                    <p:outputLabel value="Ballet" style="margin-left: 2%; color: white; font-style: italic; font-size: 30px; font-family: Gill;" />
                    <div>
                        <p:carousel style="margin-top: 0%; margin-left: 0%;" autoPlayInterval="4000" numVisible="1" effect="easeInStrong" vertical="true" circular="true">
                            <p:graphicImage library="images" name="ball1.jpg" width="360" height="330"/>
                            <p:graphicImage library="images" name="ball2.jpg" width="360" height="330"/>
                            <p:graphicImage library="images" name="ball3.jpg" width="360" height="330"/>
                            <p:graphicImage library="images" name="ball4.jpg" width="360" height="330"/>                    
                        </p:carousel>
                    </div>
                </p:panel>
            </p:layoutUnit>  
            <p:layoutUnit position="center" size="450" >
                <p:panel style="background-color: darkred; height: 98%; width: 430px;" >
                    <p:outputLabel value="Musical" style="margin-left: 2%; color: white; font-style: italic; font-size: 30px; font-family: Gill;" />
                    <div>
                        <p:carousel style="margin-top: 0%; margin-left: 0%;" autoPlayInterval="4000" numVisible="1" effect="easeInStrong" vertical="true" circular="true">
                            <p:graphicImage library="images" name="mus1.jpg" width="360" height="330"/>
                            <p:graphicImage library="images" name="mus2.jpg" width="360" height="330"/>
                            <p:graphicImage library="images" name="mus3.jpg" width="360" height="330"/>
                            <p:graphicImage library="images" name="mus4.jpg" width="360" height="330"/>                    
                        </p:carousel>
                    </div>
                </p:panel>
            </p:layoutUnit>  
            <p:layoutUnit position="east" size="450">
                <p:panel style="background-color: darkred; height: 98%; width: 430px;" >
                    <p:outputLabel value="Clásico" style="margin-left: 2%; color: white; font-style: italic; font-size: 30px; font-family: Gill;" />
                    <div>
                        <p:carousel style="margin-top: 0%; margin-left: 0%;" autoPlayInterval="4000" numVisible="1" effect="easeInStrong" vertical="true" circular="true">
                            <p:graphicImage library="images" name="cl1.jpg" width="360" height="330"/>
                            <p:graphicImage library="images" name="cl2.jpg" width="360" height="330"/>
                            <p:graphicImage library="images" name="cl3.jpg" width="360" height="330"/>
                            <p:graphicImage library="images" name="cl4.jpg" width="360" height="330"/>                    
                        </p:carousel>
                    </div>
                </p:panel>
            </p:layoutUnit>            

            <p:layoutUnit position="south" size="45">
                <div align="center" class="fondo" style="background-color: darkred;">
                    <h:panelGrid columns="1">
                        <h:outputText value="Todos los derechos reservados" style="color: white;"/>
                    </h:panelGrid>
                </div>                  
            </p:layoutUnit>       
        </p:layout>

        <br />


    </h:body>
</html>

