<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <h:outputStylesheet library="CSS" name="david.css"/>

        <title>Facelet Title</title>
       <!-- <h:outputStylesheet name="CSS/jsfcrud.css"/>-->
        <!-- <h:outputStylesheet name="CSS/jsfcrud.css"/>-->

    </h:head>
    <h:body>

        <p:layout fullPage="true">

            <p:layoutUnit position="north"  size="145">
                <p:panel styleClass="fondo">
                    <div align="center" class="header">
                        <p:graphicImage library="images" height="95" name="logo_master.png"/>
                        <a id="carrito" href="#"><p:graphicImage library="images" name="carrito.png"/></a>
                        <!--<a id="asesion" href="#"><p:outputLabel styleClass="sesion" value="Iniciar sesion"/></a>-->                        

                    </div>
                </p:panel>                                                               
            </p:layoutUnit> 
            <h:form id="asesion2">

                <h:panelGrid columns="4"  cellpadding="1">
                <p:messages autoUpdate="true"/>
                <p:commandLink id="asesion" style="width:50px;" value="#{log.userName2}" type="button" />
                <p:commandLink id="btn3" value="Salir"   action="#{log.logout()}" />
                <p:overlayPanel id="moviePanel" for="asesion" hideEffect="fade" dynamic="true" style="width:600px">

                    <p:messages id="msjloginForm" closable="true"/>
                    <p:panel id="loginpanel" styleClass="panelLogin">
                        <h:panelGrid columns="1"  cellpadding="5">
                            <h:outputLabel value="Usuario:"/>
                            <p:inputText id="login" label="usuario" value="#{log.userName}">

                <p:commandButton id="asesion" value="Iniciar Sesion" type="button" />
                <p:commandButton id="asesion" value="Iniciar Sesion" type="button" action="#{loginBean.login()}"/>

                            </p:inputText>
                            <p:watermark for="login" value="introduce tu usuario"/>
                            <h:outputLabel value="Contraseña:"/>
                            <p:password id="pwd" label="contraseña" value="#{log.userPwd}" >
                            </p:password>   
                            <p:watermark for="pwd" value="Introduce contraseña"/>

                <p:overlayPanel id="moviePanel" for="asesion" hideEffect="fade" dynamic="true" style="width:600px">
                    <h:form id="loginform">
                        <p:messages id="msjloginForm" closable="true"/>
                        <p:panel id="loginpanel" styleClass="panelLogin">
                            <h:panelGrid columns="1"  cellpadding="5">
                                <h:outputLabel value="Usuario:"/>
                                <p:inputText id="login" label="usuario" value="#{loginBean.userName}" required="true" requiredMessage="Usuario no puede estar vacio"
                                             validatorMessage="La longuitud de usuario deber ser entre 3 y 12 ">

                                    <p:overlayPanel id="moviePanel" for="asesion" hideEffect="fade" dynamic="true" style="width:600px">
                                        <h:form id="loginform">
                                            <p:messages id="msjloginForm" closable="true"/>
                                            <p:panel id="loginpanel" styleClass="panelLogin">
                                                <h:panelGrid columns="1"  cellpadding="5">
                                                    <h:outputLabel value="Usuario:"/>
                                                    <p:inputText id="login" label="usuario" value="" required="true" requiredMessage="Usuario no puede estar vacio"
                                                                 validatorMessage="La longuitud de usuario deber ser entre 3 y 12 ">

                                                        <f:validateLength minimum="3" maximum="12"/>
                                                        <f:validateRegex pattern="^[a-zA-Z0-9]+$"/>
                                                        <p:tooltip for="login" value="El usuario debe ser entre 3 y 12"/>
                                                    </p:inputText>
                                                    <p:watermark for="login" value="introduce tu usuario"/>
                                                    <h:outputLabel value="Contraseña:"/>
                                                    <p:keyboard id="pwd" label="contraseña" value="#{loginBean.userPwd}" required="true" requiredMessage="Contraseña no puede estar vacia"
                                                                validatorMessage="la longuitud debe ser de 8 a 12 caracteres" password="true">
                                                        <f:validateLength maximum="12" minimum="8"/>
                                                        <f:validateRegex pattern="^[a-zA-Z0-9]+$"/>
                                                        <p:tooltip for="pwd" value="la contraseña debe ser de 8 a 12 caracteres"/>                                
                                                    </p:keyboard>
                                                    <p:watermark for="pwd" value="Introduce contraseña"/>
                                                    

                                                    <f:validateLength minimum="3" maximum="12"/>
                                                    <f:validateRegex pattern="^[a-zA-Z0-9]+$"/>
                                                    <p:tooltip for="login" value="El usuario debe ser entre 3 y 12"/>
                                                    </p:inputText>
                                                    <p:watermark for="login" value="introduce tu usuario"/>
                                                    <h:outputLabel value="Contraseña:"/>
                                                    <p:keyboard id="pwd" label="contraseña" value="" required="true" requiredMessage="Contraseña no puede estar vacia"
                                                                validatorMessage="la longuitud debe ser de 8 a 12 caracteres" password="true">
                                                        <f:validateLength maximum="12" minimum="8"/>
                                                        <f:validateRegex pattern="^[a-zA-Z0-9]+$"/>
                                                        <p:tooltip for="pwd" value="la contraseña debe ser de 8 a 12 caracteres"/>                                
                                                    </p:keyboard>
                                                    <p:watermark for="pwd" value="Introduce contraseña"/>

                                                    <p:layoutUnit position="west" size="450">
                                                        <p:panel style="background-color: darkred; height: 98%; width: 430px;" >
                                                            <p:outputLabel value="Ballet" style="margin-left: 2%; color: white; font-style: italic; font-size: 30px; font-family: Gill;" />
                                                            <div>
                                                                <p:carousel style="margin-top: 0%; margin-left: 0%;" autoPlayInterval="4000" numVisible="1" effect="easeInStrong" vertical="true" circular="true">
                                                                    <p:graphicImage library="images" name="ball1.jpg" width="360" height="330"/>
                                                                    <p:graphicImage library="images" name="ball2.jpg" width="360" height="330"/>
                                                                    <p:graphicImage library="images" name="ball3.jpg" width="360" height="330"/>
                                                                    <p:graphicImage library="images" name="ball4.jpg" width="360" height="330"/>                    
                                                                </p:carousel>
                                                            </div>
                                                        </p:panel>
                                                    </p:layoutUnit>  
                                                    <p:layoutUnit position="center" size="450" >
                                                        <p:panel style="background-color: darkred; height: 98%; width: 430px;" >
                                                            <p:outputLabel value="Musical" style="margin-left: 2%; color: white; font-style: italic; font-size: 30px; font-family: Gill;" />
                                                            <div>
                                                                <p:carousel style="margin-top: 0%; margin-left: 0%;" autoPlayInterval="4000" numVisible="1" effect="easeInStrong" vertical="true" circular="true">
                                                                    <p:graphicImage library="images" name="mus1.jpg" width="360" height="330"/>
                                                                    <p:graphicImage library="images" name="mus2.jpg" width="360" height="330"/>
                                                                    <p:graphicImage library="images" name="mus3.jpg" width="360" height="330"/>
                                                                    <p:graphicImage library="images" name="mus4.jpg" width="360" height="330"/>                    
                                                                </p:carousel>
                                                            </div>
                                                        </p:panel>
                                                    </p:layoutUnit>  
                                                    <p:layoutUnit position="east" size="450">
                                                        <p:panel style="background-color: darkred; height: 98%; width: 430px;" >
                                                            <p:outputLabel value="Clásico" style="margin-left: 2%; color: white; font-style: italic; font-size: 30px; font-family: Gill;" />
                                                            <div>
                                                                <p:carousel style="margin-top: 0%; margin-left: 0%;" autoPlayInterval="4000" numVisible="1" effect="easeInStrong" vertical="true" circular="true">
                                                                    <p:graphicImage library="images" name="cl1.jpg" width="360" height="330"/>
                                                                    <p:graphicImage library="images" name="cl2.jpg" width="360" height="330"/>
                                                                    <p:graphicImage library="images" name="cl3.jpg" width="360" height="330"/>
                                                                    <p:graphicImage library="images" name="cl4.jpg" width="360" height="330"/>                    
                                                                </p:carousel>
                                                            </div>
                                                        </p:panel>
                                                    </p:layoutUnit>            

                                                    <p:layoutUnit position="south" size="45">
                                                        <div align="center" class="fondo" style="background-color: darkred;">
                                                            <h:panelGrid columns="1">
                                                                <h:outputText value="Todos los derechos reservados" style="color: white;"/>
                                                            </h:panelGrid>
                                                        </div>                  
                                                    </p:layoutUnit>       
                                                    </p:layout>

                                                    <br />
                                                    <h:link outcome="/funcion/List" value="Show All Funcion Items"/>
                                                    <br />
                                                    <h:link outcome="/genero/List" value="Show All Genero Items"/>
                                                    <br />
                                                    <h:link outcome="/grupo/List" value="Show All Grupo Items"/>
                                                    <br />
                                                    <h:link outcome="/obra/List" value="Show All Obra Items"/>
                                                    <br />
                                                    <h:link outcome="/reservacion/List" value="Show All Reservacion Items"/>
                                                    <br />
                                                    <h:link outcome="/salas/List" value="Show All Salas Items"/>
                                                    <br />
                                                    <h:link outcome="/usuario/List" value="Show All Usuario Items"/>

                                                    <br />
                                                    <h:link outcome="/funcion/List" value="Show All Funcion Items"/>
                                                    <br />
                                                    <h:link outcome="/genero/List" value="Show All Genero Items"/>
                                                    <br />
                                                    <h:link outcome="/grupo/List" value="Show All Grupo Items"/>
                                                    <br />
                                                    <h:link outcome="/obra/List" value="Show All Obra Items"/>
                                                    <br />
                                                    <h:link outcome="/reservacion/List" value="Show All Reservacion Items"/>
                                                    <br />
                                                    <h:link outcome="/salas/List" value="Show All Salas Items"/>
                                                    <br />
                                                    <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
                                                    <br />
                                                    <h:link outcome="/funcion/List" value="Show All Funcion Items"/>
                                                    <br />
                                                    <h:link outcome="/genero/List" value="Show All Genero Items"/>
                                                    <br />
                                                    <h:link outcome="/grupo/List" value="Show All Grupo Items"/>
                                                    <br />
                                                    <h:link outcome="/obra/List" value="Show All Obra Items"/>
                                                    <br />
                                                    <h:link outcome="/reservacion/List" value="Show All Reservacion Items"/>
                                                    <br />
                                                    <h:link outcome="/salas/List" value="Show All Salas Items"/>
                                                    <br />
                                                    <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
                                                    <br />
                                                    <h:link outcome="/funcion/List" value="Show All Funcion Items"/>
                                                    <br />
                                                    <h:link outcome="/genero/List" value="Show All Genero Items"/>
                                                    <br />
                                                    <h:link outcome="/grupo/List" value="Show All Grupo Items"/>
                                                    <br />
                                                    <h:link outcome="/obra/List" value="Show All Obra Items"/>
                                                    <br />
                                                    <h:link outcome="/reservacion/List" value="Show All Reservacion Items"/>
                                                    <br />
                                                    <h:link outcome="/salas/List" value="Show All Salas Items"/>
                                                    <br />
                                                    <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
                                                    <br />
                                                    <h:link outcome="/funcion/List" value="Show All Funcion Items"/>
                                                    <br />
                                                    <h:link outcome="/genero/List" value="Show All Genero Items"/>
                                                    <br />
                                                    <h:link outcome="/grupo/List" value="Show All Grupo Items"/>
                                                    <br />
                                                    <h:link outcome="/obra/List" value="Show All Obra Items"/>
                                                    <br />
                                                    <h:link outcome="/reservacion/List" value="Show All Reservacion Items"/>
                                                    <br />
                                                    <h:link outcome="/salas/List" value="Show All Salas Items"/>
                                                    <br />
                                                    <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
                                                    <br />
                                                    <h:link outcome="/funcion/List" value="Show All Funcion Items"/>
                                                    <br />
                                                    <h:link outcome="/genero/List" value="Show All Genero Items"/>
                                                    <br />
                                                    <h:link outcome="/grupo/List" value="Show All Grupo Items"/>
                                                    <br />
                                                    <h:link outcome="/obra/List" value="Show All Obra Items"/>
                                                    <br />
                                                    <h:link outcome="/reservacion/List" value="Show All Reservacion Items"/>
                                                    <br />
                                                    <h:link outcome="/salas/List" value="Show All Salas Items"/>
                                                    <br />
                                                    <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
                                                    <br />
                                                    <h:link outcome="/funcion/List" value="Show All Funcion Items"/>
                                                    <br />
                                                    <h:link outcome="/genero/List" value="Show All Genero Items"/>
                                                    <br />
                                                    <h:link outcome="/grupo/List" value="Show All Grupo Items"/>
                                                    <br />
                                                    <h:link outcome="/obra/List" value="Show All Obra Items"/>
                                                    <br />
                                                    <h:link outcome="/reservacion/List" value="Show All Reservacion Items"/>
                                                    <br />
                                                    <h:link outcome="/salas/List" value="Show All Salas Items"/>
                                                    <br />
                                                    <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
                                                    </h:body>











































                                                </html>


                                                <p:commandButton id="entrar" value ="Entrar" update="login" style="float:right; background-color:lightblue"
                                                                 action="#" ajax="false"/>

                                                <f:facet name="footer">
                                                    <h:form>
                                                        <h:panelGrid columns="3" style="margin-left:10%">
                                                            <p:outputPanel id="registra" >
                                                                <p:commandLink value="Registrarse" ajax="false" immediate="true" action ="Alta?faces-redirect=true"/>
                                                            </p:outputPanel>
                                                            <p:spacer width="10"/>                                               
                                                        </h:panelGrid>
                                                    </h:form>                              
                                                </f:facet>                                                       
                                            </h:panelGrid>
                                        </p:panel>
                                    </h:form>
                                </p:overlayPanel>
                                </h:form>
                                
                                <f:facet name="footer">
                                    <h:form>
                                        <h:panelGrid columns="3" style="margin-left:10%">
                                            <p:outputPanel id="registra" >
                                                <a href="registro.xhtml">Registro</a>

                                            </p:outputPanel>
                                            <p:spacer width="10"/>                                               
                                        </h:panelGrid>
                                    </h:form>                              
                                </f:facet>                                                       

                    <h:commandButton id="btn" value="entrar"   actionListener="#{log.login()}" />
                   <h:panelGrid columns="1" style="margin-left:10%">
                                <p:outputPanel id="registra" >
                                    <a href="registro.xhtml">Registro</a>

                                </p:outputPanel>
                                <p:spacer width="10"/>                                               
                            </h:panelGrid>  
                </p:overlayPanel>
                
                </h:panelGrid>
            </h:form>
            <p:layoutUnit position="west" size="450">
                <p:panel style="background-color: darkred; height: 98%; width: 98%;" >
                    <p:outputLabel value="Ballet" style="margin-left: 2%; color: white; font-style: italic; font-size: 30px; font-family: Gill;" />
                    <div>
                        <p:carousel style="margin-top: 0%; margin-left: 0%;" autoPlayInterval="4000" numVisible="1" effect="easeInStrong" vertical="true" circular="true">
                            <p:graphicImage library="images" name="ball1.jpg" width="360" height="330"/>
                            <p:graphicImage library="images" name="ball2.jpg" width="360" height="330"/>
                            <p:graphicImage library="images" name="ball3.jpg" width="360" height="330"/>
                            <p:graphicImage library="images" name="ball4.jpg" width="360" height="330"/>                    
                        </p:carousel>
                    </div>
                </p:panel>
            </p:layoutUnit>  
            <p:layoutUnit position="center" size="450" >
                <p:panel style="background-color: darkred; height: 98%; width: 98%;" >
                    <p:outputLabel value="Musical" style="margin-left: 2%; color: white; font-style: italic; font-size: 30px; font-family: Gill;" />
                    <div>
                        <p:carousel style="margin-top: 0%; margin-left: 0%;" autoPlayInterval="4000" numVisible="1" effect="easeInStrong" vertical="true" circular="true">
                            <p:graphicImage library="images" name="mus1.jpg" width="360" height="330"/>
                            <p:graphicImage library="images" name="mus2.jpg" width="360" height="330"/>
                            <p:graphicImage library="images" name="mus3.jpg" width="360" height="330"/>
                            <p:graphicImage library="images" name="mus4.jpg" width="360" height="330"/>                    
                        </p:carousel>
                    </div>
                </p:panel>
            </p:layoutUnit>  
            <p:layoutUnit position="east" size="450">
                <p:panel style="background-color: darkred; height: 98%; width: 98%;" >
                    <p:outputLabel value="Clásico" style="margin-left: 2%; color: white; font-style: italic; font-size: 30px; font-family: Gill;" />
                    <div>
                        <p:carousel style="margin-top: 0%; margin-left: 0%;" autoPlayInterval="4000" numVisible="1" effect="easeInStrong" vertical="true" circular="true">
                            <p:graphicImage library="images" name="cl1.jpg" width="360" height="330"/>
                            <p:graphicImage library="images" name="cl2.jpg" width="360" height="330"/>
                            <p:graphicImage library="images" name="cl3.jpg" width="360" height="330"/>
                            <p:graphicImage library="images" name="cl4.jpg" width="360" height="330"/>                    
                        </p:carousel>
                    </div>
                </p:panel>
            </p:layoutUnit>            

            <p:layoutUnit position="south" size="45">
                <div align="center" class="fondo" style="background-color: darkred;">
                    <h:panelGrid columns="1">
                        <h:outputText value="Todos los derechos reservados" style="color: white;"/>
                    </h:panelGrid>
                </div>                  
            </p:layoutUnit>       
        </p:layout>


<!--
        <br />
        <h:link outcome="/funcion/List" value="Show All Funcion Items"/>
        <br />
        <h:link outcome="/genero/List" value="Show All Genero Items"/>
        <br />
        <h:link outcome="/grupo/List" value="Show All Grupo Items"/>
        <br />
        <h:link outcome="/obra/List" value="Show All Obra Items"/>
        <br />
        <h:link outcome="/reservacion/List" value="Show All Reservacion Items"/>
        <br />
        <h:link outcome="/salas/List" value="Show All Salas Items"/>
        <br />
        <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
        <br />
        <h:link outcome="/funcion/List" value="Show All Funcion Items"/>
        <br />
        <h:link outcome="/genero/List" value="Show All Genero Items"/>
        <br />
        <h:link outcome="/grupo/List" value="Show All Grupo Items"/>
        <br />
        <h:link outcome="/obra/List" value="Show All Obra Items"/>
        <br />
        <h:link outcome="/reservacion/List" value="Show All Reservacion Items"/>
        <br />
        <h:link outcome="/salas/List" value="Show All Salas Items"/>
        <br />
        <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
-->    
</h:body>




































</html>

                                                        <f:validateLength minimum="3" maximum="12"/>
                                                        <f:validateRegex pattern="^[a-zA-Z0-9]+$"/>
                                                        <p:tooltip for="login" value="El usuario debe ser entre 3 y 12"/>
                                                    </p:inputText>
                                                    <p:watermark for="login" value="introduce tu usuario"/>
                                                    <h:outputLabel value="Contraseña:"/>
                                                    <p:keyboard id="pwd" label="contraseña" value="#{loginBean.userPwd}" required="true" requiredMessage="Contraseña no puede estar vacia"
                                                                validatorMessage="la longuitud debe ser de 8 a 12 caracteres" password="true">
                                                        <f:validateLength maximum="12" minimum="8"/>
                                                        <f:validateRegex pattern="^[a-zA-Z0-9]+$"/>
                                                        <p:tooltip for="pwd" value="la contraseña debe ser de 8 a 12 caracteres"/>                                
                                                    </p:keyboard>
                                                    <p:watermark for="pwd" value="Introduce contraseña"/>
                                                    >>>>>>> origin/master (7297af9) - Merge origin/m

                                                    <f:validateLength minimum="3" maximum="12"/>
                                                    <f:validateRegex pattern="^[a-zA-Z0-9]+$"/>
                                                    <p:tooltip for="login" value="El usuario debe ser entre 3 y 12"/>
                                                    </p:inputText>
                                                    <p:watermark for="login" value="introduce tu usuario"/>
                                                    <h:outputLabel value="Contraseña:"/>
                                                    <p:keyboard id="pwd" label="contraseña" value="" required="true" requiredMessage="Contraseña no puede estar vacia"
                                                                validatorMessage="la longuitud debe ser de 8 a 12 caracteres" password="true">
                                                        <f:validateLength maximum="12" minimum="8"/>
                                                        <f:validateRegex pattern="^[a-zA-Z0-9]+$"/>
                                                        <p:tooltip for="pwd" value="la contraseña debe ser de 8 a 12 caracteres"/>                                
                                                    </p:keyboard>
                                                    <p:watermark for="pwd" value="Introduce contraseña"/>

                                                    <p:layoutUnit position="west" size="450">
                                                        <p:panel style="background-color: darkred; height: 98%; width: 430px;" >
                                                            <p:outputLabel value="Ballet" style="margin-left: 2%; color: white; font-style: italic; font-size: 30px; font-family: Gill;" />
                                                            <div>
                                                                <p:carousel style="margin-top: 0%; margin-left: 0%;" autoPlayInterval="4000" numVisible="1" effect="easeInStrong" vertical="true" circular="true">
                                                                    <p:graphicImage library="images" name="ball1.jpg" width="360" height="330"/>
                                                                    <p:graphicImage library="images" name="ball2.jpg" width="360" height="330"/>
                                                                    <p:graphicImage library="images" name="ball3.jpg" width="360" height="330"/>
                                                                    <p:graphicImage library="images" name="ball4.jpg" width="360" height="330"/>                    
                                                                </p:carousel>
                                                            </div>
                                                        </p:panel>
                                                    </p:layoutUnit>  
                                                    <p:layoutUnit position="center" size="450" >
                                                        <p:panel style="background-color: darkred; height: 98%; width: 430px;" >
                                                            <p:outputLabel value="Musical" style="margin-left: 2%; color: white; font-style: italic; font-size: 30px; font-family: Gill;" />
                                                            <div>
                                                                <p:carousel style="margin-top: 0%; margin-left: 0%;" autoPlayInterval="4000" numVisible="1" effect="easeInStrong" vertical="true" circular="true">
                                                                    <p:graphicImage library="images" name="mus1.jpg" width="360" height="330"/>
                                                                    <p:graphicImage library="images" name="mus2.jpg" width="360" height="330"/>
                                                                    <p:graphicImage library="images" name="mus3.jpg" width="360" height="330"/>
                                                                    <p:graphicImage library="images" name="mus4.jpg" width="360" height="330"/>                    
                                                                </p:carousel>
                                                            </div>
                                                        </p:panel>
                                                    </p:layoutUnit>  
                                                    <p:layoutUnit position="east" size="450">
                                                        <p:panel style="background-color: darkred; height: 98%; width: 430px;" >
                                                            <p:outputLabel value="Clásico" style="margin-left: 2%; color: white; font-style: italic; font-size: 30px; font-family: Gill;" />
                                                            <div>
                                                                <p:carousel style="margin-top: 0%; margin-left: 0%;" autoPlayInterval="4000" numVisible="1" effect="easeInStrong" vertical="true" circular="true">
                                                                    <p:graphicImage library="images" name="cl1.jpg" width="360" height="330"/>
                                                                    <p:graphicImage library="images" name="cl2.jpg" width="360" height="330"/>
                                                                    <p:graphicImage library="images" name="cl3.jpg" width="360" height="330"/>
                                                                    <p:graphicImage library="images" name="cl4.jpg" width="360" height="330"/>                    
                                                                </p:carousel>
                                                            </div>
                                                        </p:panel>
                                                    </p:layoutUnit>            

                                                    <p:layoutUnit position="south" size="45">
                                                        <div align="center" class="fondo" style="background-color: darkred;">
                                                            <h:panelGrid columns="1">
                                                                <h:outputText value="Todos los derechos reservados" style="color: white;"/>
                                                            </h:panelGrid>
                                                        </div>                  
                                                    </p:layoutUnit>       
                                                    </p:layout>

                                                    <br />
                                                    <h:link outcome="/funcion/List" value="Show All Funcion Items"/>
                                                    <br />
                                                    <h:link outcome="/genero/List" value="Show All Genero Items"/>
                                                    <br />
                                                    <h:link outcome="/grupo/List" value="Show All Grupo Items"/>
                                                    <br />
                                                    <h:link outcome="/obra/List" value="Show All Obra Items"/>
                                                    <br />
                                                    <h:link outcome="/reservacion/List" value="Show All Reservacion Items"/>
                                                    <br />
                                                    <h:link outcome="/salas/List" value="Show All Salas Items"/>
                                                    <br />
                                                    <h:link outcome="/usuario/List" value="Show All Usuario Items"/>

                                                    <br />
                                                    <h:link outcome="/funcion/List" value="Show All Funcion Items"/>
                                                    <br />
                                                    <h:link outcome="/genero/List" value="Show All Genero Items"/>
                                                    <br />
                                                    <h:link outcome="/grupo/List" value="Show All Grupo Items"/>
                                                    <br />
                                                    <h:link outcome="/obra/List" value="Show All Obra Items"/>
                                                    <br />
                                                    <h:link outcome="/reservacion/List" value="Show All Reservacion Items"/>
                                                    <br />
                                                    <h:link outcome="/salas/List" value="Show All Salas Items"/>
                                                    <br />
                                                    <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
                                                    <br />
                                                    <h:link outcome="/funcion/List" value="Show All Funcion Items"/>
                                                    <br />
                                                    <h:link outcome="/genero/List" value="Show All Genero Items"/>
                                                    <br />
                                                    <h:link outcome="/grupo/List" value="Show All Grupo Items"/>
                                                    <br />
                                                    <h:link outcome="/obra/List" value="Show All Obra Items"/>
                                                    <br />
                                                    <h:link outcome="/reservacion/List" value="Show All Reservacion Items"/>
                                                    <br />
                                                    <h:link outcome="/salas/List" value="Show All Salas Items"/>
                                                    <br />
                                                    <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
                                                    <br />
                                                    <h:link outcome="/funcion/List" value="Show All Funcion Items"/>
                                                    <br />
                                                    <h:link outcome="/genero/List" value="Show All Genero Items"/>
                                                    <br />
                                                    <h:link outcome="/grupo/List" value="Show All Grupo Items"/>
                                                    <br />
                                                    <h:link outcome="/obra/List" value="Show All Obra Items"/>
                                                    <br />
                                                    <h:link outcome="/reservacion/List" value="Show All Reservacion Items"/>
                                                    <br />
                                                    <h:link outcome="/salas/List" value="Show All Salas Items"/>
                                                    <br />
                                                    <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
                                                    <br />
                                                    <h:link outcome="/funcion/List" value="Show All Funcion Items"/>
                                                    <br />
                                                    <h:link outcome="/genero/List" value="Show All Genero Items"/>
                                                    <br />
                                                    <h:link outcome="/grupo/List" value="Show All Grupo Items"/>
                                                    <br />
                                                    <h:link outcome="/obra/List" value="Show All Obra Items"/>
                                                    <br />
                                                    <h:link outcome="/reservacion/List" value="Show All Reservacion Items"/>
                                                    <br />
                                                    <h:link outcome="/salas/List" value="Show All Salas Items"/>
                                                    <br />
                                                    <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
                                                    <br />
                                                    <h:link outcome="/funcion/List" value="Show All Funcion Items"/>
                                                    <br />
                                                    <h:link outcome="/genero/List" value="Show All Genero Items"/>
                                                    <br />
                                                    <h:link outcome="/grupo/List" value="Show All Grupo Items"/>
                                                    <br />
                                                    <h:link outcome="/obra/List" value="Show All Obra Items"/>
                                                    <br />
                                                    <h:link outcome="/reservacion/List" value="Show All Reservacion Items"/>
                                                    <br />
                                                    <h:link outcome="/salas/List" value="Show All Salas Items"/>
                                                    <br />
                                                    <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
                                                    <br />
                                                    <h:link outcome="/funcion/List" value="Show All Funcion Items"/>
                                                    <br />
                                                    <h:link outcome="/genero/List" value="Show All Genero Items"/>
                                                    <br />
                                                    <h:link outcome="/grupo/List" value="Show All Grupo Items"/>
                                                    <br />
                                                    <h:link outcome="/obra/List" value="Show All Obra Items"/>
                                                    <br />
                                                    <h:link outcome="/reservacion/List" value="Show All Reservacion Items"/>
                                                    <br />
                                                    <h:link outcome="/salas/List" value="Show All Salas Items"/>
                                                    <br />
                                                    <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
                                                    </h:body>











































                                                </html>

                                                <<<<<<< HEAD (b0fab54) - cambio de Base de Datos
                                                <p:commandButton id="entrar" value ="Entrar" update="login" style="float:right; background-color:lightblue"
                                                                 action="#" ajax="false"/>

                                                <f:facet name="footer">
                                                    <h:form>
                                                        <h:panelGrid columns="3" style="margin-left:10%">
                                                            <p:outputPanel id="registra" >
                                                                <p:commandLink value="Registrarse" ajax="false" immediate="true" action ="Alta?faces-redirect=true"/>
                                                            </p:outputPanel>
                                                            <p:spacer width="10"/>                                               
                                                        </h:panelGrid>
                                                    </h:form>                              
                                                </f:facet>                                                       
                                            </h:panelGrid>
                                        </p:panel>
                                    </h:form>
                                </p:overlayPanel>
                                </h:form>
                                
