<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
<<<<<<< HEAD
        <ui:define name="lado">
        <ui:include src="templates/header.xhtml">
                    
        </ui:include>
            </ui:define>
=======
        <ui:include src="template/header.xhtml">
                    
        </ui:include>
>>>>>>> origin/Allan
    </h:body>
</html>

