<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Registro de Nuevos Usuarios</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <h:outputStylesheet library="CSS" name="david.css"/>
<script src='https://www.google.com/recaptcha/api.js'></script>
    </h:head>
    <h:body>

        <p:layoutUnit position="north"  size="145">
            <p:panel styleClass="fondo">
                <div align="center" class="header">
                    <p:graphicImage library="images" height="95" name="logo_master.png"/>
                   <!-- <a id="carrito" href="#"><p:graphicImage library="images" name="carrito.png"/></a>-->
                </div>
            </p:panel>                                                               
        </p:layoutUnit> 
        <!--<ui:define name="contenido">-->
        <p:layoutUnit position="center"  size="150">
            <h:form id="form" styleClass="reg"> 
                <p:messages id="msjloginForm" closable="true"/>
                <p:growl class="ui-grow1"/>
                <p:panel header="Registro de Nuevo Usuario" footer="">
                    <h:panelGrid columns="2" cellpadding="1">
                        <p:outputLabel value="Nombres:"/>
                        <p:inputText id="nombre" label="nombre" required="true" value="#{crear_Usuario.nombre}"> 
                            <p:tooltip for="nombre" value="Introducir nombre"/>                                                                                     
                            
                            <p:watermark for="nombre" value="Introducir Nombre(s)"/>
                        </p:inputText>
                        
                        <p:outputLabel value="Apellido Paterno:"/>
                        <p:inputText id="ap" label="paterno" required="true" value="#{crear_Usuario.a_p}"> 
                            <p:tooltip for="ap" value="Introducir apellido paterno"/>                                
                            
                            <p:watermark for="ap" value="Introducir Apellido Paterno"/>
                        </p:inputText>
                        <p:outputLabel value="Apellido Materno:"/>
                        <p:inputText id="am" label="materno" required="true" value="#{crear_Usuario.a_m}"> 
                            <p:tooltip for="am" value="Introducir apellido materno"/>                                
                            
                            <p:watermark for="am" value="Introducir Apellido Materno"/>
                        </p:inputText> 
                        <p:outputLabel value="Usuario"/>
                        <p:inputText id="usuario" label="usuario" required="true" value="#{crear_Usuario.usuario}" > 
                            <p:tooltip for="usuario" value="Introducir usuario"/>                                
                            
                            <p:watermark for="usuario" value="Introducir Nombre de Usuario"/>
                        </p:inputText>                    
                        <p:outputLabel value="Password"/>
                        <p:password id="pwd" label="password" required="true" value="#{crear_Usuario.pwd}" > 
                            <f:validateLength minimum="4" maximum="8"/>
                            
                            <p:tooltip for="pwd" value="Introducir contraseña"/>                                
                            <f:validateLength minimum="4" maximum="8"/>
                            <p:watermark for="pwd" value="Introduce contraseña"/>
                            <p:clientValidator event="blur"/>                            
                        </p:password> 
                        <p:outputLabel value="telefono"/>
                        <p:keyboard  keypadOnly="true" id="tel" label="telefono" required="true" value="#{crear_Usuario.telefono}">                             
                             <f:validateLength minimum="2" />
                            <p:tooltip for="tel" value="Introducir Telefono"/>
                            <p:watermark for="tel" value="Introduce Telefono"/>
                            
                        </p:keyboard>                                                                                                  
                        <div align="center"  class="g-recaptcha" data-sitekey="6LdgJCETAAAAACZI1N7Qo3qCg1yk1eLyjBnkhZGc"></div>
                        
         
                        
                        <h:panelGrid columns="2">
                        <p:commandButton id="btn" value="Registrar"  action="#{crear_Usuario.crear()}" update="tel,pwd,nombre,ap,am,usuario"/>
                        <p:commandButton id="btn2" value="Cancelar" action="null"/>                            
                        </h:panelGrid>
                    </h:panelGrid>
                </p:panel>
            </h:form> 

        </p:layoutUnit>
        <!--</ui:define>-->
        

    </h:body>
</html>

