<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="GeneroEditDlg" widgetVar="GeneroEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditGeneroTitle}">
            <h:form id="GeneroEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{generoController.selected != null}">
                        <p:outputLabel value="#{bundle.EditGeneroLabel_idGenero}" for="idGenero" />
                        <p:inputText id="idGenero" value="#{generoController.selected.idGenero}" title="#{bundle.EditGeneroTitle_idGenero}" required="true" requiredMessage="#{bundle.EditGeneroRequiredMessage_idGenero}"/>
                        <p:outputLabel value="#{bundle.EditGeneroLabel_genero}" for="genero" />
                        <p:inputText id="genero" value="#{generoController.selected.genero}" title="#{bundle.EditGeneroTitle_genero}" required="true" requiredMessage="#{bundle.EditGeneroRequiredMessage_genero}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{generoController.update}" value="#{bundle.Save}" update="display,:GeneroListForm:datalist,:growl" oncomplete="handleSubmit(args, 'GeneroEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="GeneroEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
