<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="GeneroViewDlg" widgetVar="GeneroViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewGeneroTitle}">
            <h:form id="GeneroViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{generoController.selected != null}">
                        <h:outputText value="#{bundle.ViewGeneroLabel_idGenero}"/>
                        <h:outputText value="#{generoController.selected.idGenero}" title="#{bundle.ViewGeneroTitle_idGenero}"/>
                        <h:outputText value="#{bundle.ViewGeneroLabel_genero}"/>
                        <h:outputText value="#{generoController.selected.genero}" title="#{bundle.ViewGeneroTitle_genero}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="GeneroViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
