/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/05/2016, 08:37:30 AM
    Author     : Allan
*/

.fondo{
    background-color: darkred;
}

#imagen{
    margin-left: 400px;
}
