/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/05/2016, 07:05:00 PM
    Author     : David
*/

.fondo{
    background-color: darkred;
}
#carrito{
    position: relative;
    left: 25%;
}
#asesion2{
    position: absolute;
    top: 11%;
    right: 0%;   

}


.sesion{
    color: white;    
}

.reg{
    position: absolute; 
    right: 35%;
    top: 30%;
}