/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2016, 11:01:35 PM
    Author     : rrendon
*/

body{
    background-image: url("images/fondo2.jpg") ;      
    background-repeat: no-repeat;
    background-size: cover ; 
}

.ui-widget-content, .ui-widget-content a{
    background:0!important;
    border: none!important;
    color:white!important;
}


.panelInicio{
    
    color: white;
    width: 60%;
    margin-left: 5%;
    margin-top: 7%;
}

#ui-datepicker-div{
    background-color:darkred !important;
}

.fondo{
    background-color: darkred!important;
}
#carrito{
    position: relative!important;
    left: 28%;
}
#asesion{
    position: absolute!important;
    top: 11%;
    left: 87%;   

} 
.sesion{
    color: white;    
}

.ladoIzqClass{
    
    padding-left: 20px!important;
    /*background-color: darkcyan!important;*/
      
}

.fondoPanel{
   border: solid!important; 
   margin-right: 20%;
   
}

