<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuarioViewDlg" widgetVar="UsuarioViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewUsuarioTitle}">
            <h:form id="UsuarioViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usuarioController.selected != null}">
                        <h:outputText value="#{bundle.ViewUsuarioLabel_idUsuario}"/>
                        <h:outputText value="#{usuarioController.selected.idUsuario}" title="#{bundle.ViewUsuarioTitle_idUsuario}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_nombre}"/>
                        <h:outputText value="#{usuarioController.selected.nombre}" title="#{bundle.ViewUsuarioTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_apellidoPaterno}"/>
                        <h:outputText value="#{usuarioController.selected.apellidoPaterno}" title="#{bundle.ViewUsuarioTitle_apellidoPaterno}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_apellidoMaterno}"/>
                        <h:outputText value="#{usuarioController.selected.apellidoMaterno}" title="#{bundle.ViewUsuarioTitle_apellidoMaterno}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_usuario}"/>
                        <h:outputText value="#{usuarioController.selected.usuario}" title="#{bundle.ViewUsuarioTitle_usuario}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_contrasena}"/>
                        <h:outputText value="#{usuarioController.selected.contrasena}" title="#{bundle.ViewUsuarioTitle_contrasena}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_telefono}"/>
                        <h:outputText value="#{usuarioController.selected.telefono}" title="#{bundle.ViewUsuarioTitle_telefono}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="UsuarioViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
