<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="GrupoEditDlg" widgetVar="GrupoEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditGrupoTitle}">
            <h:form id="GrupoEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{grupoController.selected != null}">
                        <p:outputLabel value="#{bundle.EditGrupoLabel_idGrupo}" for="idGrupo" />
                        <p:inputText id="idGrupo" value="#{grupoController.selected.idGrupo}" title="#{bundle.EditGrupoTitle_idGrupo}" required="true" requiredMessage="#{bundle.EditGrupoRequiredMessage_idGrupo}"/>
                        <p:outputLabel value="#{bundle.EditGrupoLabel_rol}" for="rol" />
                        <p:inputText id="rol" value="#{grupoController.selected.rol}" title="#{bundle.EditGrupoTitle_rol}" required="true" requiredMessage="#{bundle.EditGrupoRequiredMessage_rol}"/>
                        <p:outputLabel value="#{bundle.EditGrupoLabel_usuarioGpo}" for="usuarioGpo" />
                        <p:inputText id="usuarioGpo" value="#{grupoController.selected.usuarioGpo}" title="#{bundle.EditGrupoTitle_usuarioGpo}" required="true" requiredMessage="#{bundle.EditGrupoRequiredMessage_usuarioGpo}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{grupoController.update}" value="#{bundle.Save}" update="display,:GrupoListForm:datalist,:growl" oncomplete="handleSubmit(args, 'GrupoEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="GrupoEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
