<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListGrupoTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="GrupoListForm">
                <p:panel header="#{bundle.ListGrupoTitle}">
                    <p:dataTable id="datalist" value="#{grupoController.items}" var="item"
                                 selectionMode="single" selection="#{grupoController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idGrupo}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListGrupoTitle_idGrupo}"/>
                            </f:facet>
                            <h:outputText value="#{item.idGrupo}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListGrupoTitle_rol}"/>
                            </f:facet>
                            <h:outputText value="#{item.rol}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListGrupoTitle_usuarioGpo}"/>
                            </f:facet>
                            <h:outputText value="#{item.usuarioGpo}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{grupoController.prepareCreate}" update=":GrupoCreateForm" oncomplete="PF('GrupoCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":GrupoViewForm" oncomplete="PF('GrupoViewDialog').show()" disabled="#{empty grupoController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":GrupoEditForm" oncomplete="PF('GrupoEditDialog').show()" disabled="#{empty grupoController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{grupoController.destroy}" update=":growl,datalist" disabled="#{empty grupoController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
