<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="GrupoViewDlg" widgetVar="GrupoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewGrupoTitle}">
            <h:form id="GrupoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{grupoController.selected != null}">
                        <h:outputText value="#{bundle.ViewGrupoLabel_idGrupo}"/>
                        <h:outputText value="#{grupoController.selected.idGrupo}" title="#{bundle.ViewGrupoTitle_idGrupo}"/>
                        <h:outputText value="#{bundle.ViewGrupoLabel_rol}"/>
                        <h:outputText value="#{grupoController.selected.rol}" title="#{bundle.ViewGrupoTitle_rol}"/>
                        <h:outputText value="#{bundle.ViewGrupoLabel_usuarioGpo}"/>
                        <h:outputText value="#{grupoController.selected.usuarioGpo}" title="#{bundle.ViewGrupoTitle_usuarioGpo}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="GrupoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
