<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <f:event type="preRenderView" listener="#{validar.validarsesion_cliente()}"/>
    </h:head>
    <h:body>
        
        <br />
        <h:link outcome="/funcion/List" value="Show All Funcion Items"/>
        <br />
        <h:link outcome="/genero/List" value="Show All Genero Items"/>
        <br />
        <h:link outcome="/grupo/List" value="Show All Grupo Items"/>
        <br />
        <h:link outcome="/obra/List" value="Show All Obra Items"/>
        <br />
        <h:link outcome="/reservacion/List" value="Show All Reservacion Items"/>
        <br />
        <h:link outcome="/salas/List" value="Show All Salas Items"/>
        <br />
        <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
        
    </h:body>
</html>

