<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="CSS" name="rocio_estilos.css"/> 
    </h:head>
    <h:body>
        <ui:composition template="/templates/maestro_ur.xhtml">
            <ui:define name="titulo">Bienvenidos</ui:define>
            <ui:define name="encabezado">
                <ui:include src="/templates/header_2.xhtml"/>
            </ui:define>
            <ui:define name="lado">
            </ui:define>
            <ui:define name="contenido">
                <h:form>
                    <p:growl autoUpdate="true" class="ui-growl"/>

                    <h:link outcome="/funcion/List" value="Show All Funcion Items"/>
                    <br />
                    <h:link outcome="/genero/List" value="Show All Genero Items"/>
                    <br />
                    <h:link outcome="/grupo/List" value="Show All Grupo Items"/>
                    <br />
                    <h:link outcome="/obra/List" value="Show All Obra Items"/>
                    <br />
                    <h:link outcome="/reservacion/List" value="Show All Reservacion Items"/>
                    <br />
                    <h:link outcome="/salas/List" value="Show All Salas Items"/>
                    <br />
                    <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
                    <p:panel styleClass="fondoPanel" header="Sus reservaciones">
                        <p:accordionPanel >

                            <p:tab title="Romeo y Julieta">
                                <h:panelGrid columns="1" cellpadding="5">
                                    <h:outputText
                                        value="Fecha de la función: 04 junio 2016" />

                                    <h:outputText
                                        value="Horario: 14:00 a 16:00" />

                                    <h:outputText
                                        value="Cantidad de boletos: 10 " />
                                    <h:outputText
                                        value="Precio: $200 " />


                                </h:panelGrid>

                                <h:panelGrid columns="1">
                                    <div align="center">
                                        <p:commandButton id="btn" value="Cancelar"/>

                                    </div>
                                </h:panelGrid>


                            </p:tab>
                            <p:tab title="Romeo y Julieta">
                                <h:panelGrid columns="1" cellpadding="5">
                                    <h:outputText
                                        value="Fecha de la función: 04 junio 2016" />

                                    <h:outputText
                                        value="Horario: 14:00 a 16:00" />

                                    <h:outputText
                                        value="Cantidad de boletos: 10 " />
                                    <h:outputText
                                        value="Precio: $200 " />
                                </h:panelGrid>
                                <h:panelGrid columns="1">
                                    <div align="center">
                                        <p:commandButton id="btn1" value="Cancelar"/>

                                    </div>
                                </h:panelGrid>

                            </p:tab>
                        </p:accordionPanel>

                    </p:panel>
                </h:form>
            </ui:define>
            <ui:define name="pie">
                <ui:include src="/templates/footer.xhtml"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

