<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FuncionEditDlg" widgetVar="FuncionEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditFuncionTitle}">
            <h:form id="FuncionEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{funcionController.selected != null}">
                        <p:outputLabel value="#{bundle.EditFuncionLabel_idFuncion}" for="idFuncion" />
                        <p:inputText id="idFuncion" value="#{funcionController.selected.idFuncion}" title="#{bundle.EditFuncionTitle_idFuncion}" required="true" requiredMessage="#{bundle.EditFuncionRequiredMessage_idFuncion}"/>
                        <p:outputLabel value="#{bundle.EditFuncionLabel_fechaFuncion}" for="fechaFuncion" />
                        <p:calendar id="fechaFuncion" pattern="MM/dd/yyyy" value="#{funcionController.selected.fechaFuncion}" title="#{bundle.EditFuncionTitle_fechaFuncion}" required="true" requiredMessage="#{bundle.EditFuncionRequiredMessage_fechaFuncion}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditFuncionLabel_horario}" for="horario" />
                        <p:inputText id="horario" value="#{funcionController.selected.horario}" title="#{bundle.EditFuncionTitle_horario}" required="true" requiredMessage="#{bundle.EditFuncionRequiredMessage_horario}"/>
                        <p:outputLabel value="#{bundle.EditFuncionLabel_costo}" for="costo" />
                        <p:inputText id="costo" value="#{funcionController.selected.costo}" title="#{bundle.EditFuncionTitle_costo}" required="true" requiredMessage="#{bundle.EditFuncionRequiredMessage_costo}"/>
                        <p:outputLabel value="#{bundle.EditFuncionLabel_cupo}" for="cupo" />
                        <p:inputText id="cupo" value="#{funcionController.selected.cupo}" title="#{bundle.EditFuncionTitle_cupo}" required="true" requiredMessage="#{bundle.EditFuncionRequiredMessage_cupo}"/>
                        <p:outputLabel value="#{bundle.EditFuncionLabel_idObra}" for="idObra" />
                        <p:selectOneMenu id="idObra" value="#{funcionController.selected.idObra}" required="true" requiredMessage="#{bundle.EditFuncionRequiredMessage_idObra}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{obraController.itemsAvailableSelectOne}"
                                           var="idObraItem"
                                           itemValue="#{idObraItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditFuncionLabel_idSala}" for="idSala" />
                        <p:selectOneMenu id="idSala" value="#{funcionController.selected.idSala}" required="true" requiredMessage="#{bundle.EditFuncionRequiredMessage_idSala}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{salasController.itemsAvailableSelectOne}"
                                           var="idSalaItem"
                                           itemValue="#{idSalaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{funcionController.update}" value="#{bundle.Save}" update="display,:FuncionListForm:datalist,:growl" oncomplete="handleSubmit(args, 'FuncionEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="FuncionEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
