<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListFuncionTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="FuncionListForm">
                <p:panel header="#{bundle.ListFuncionTitle}">
                    <p:dataTable id="datalist" value="#{funcionController.items}" var="item"
                                 selectionMode="single" selection="#{funcionController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idFuncion}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFuncionTitle_idFuncion}"/>
                            </f:facet>
                            <h:outputText value="#{item.idFuncion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFuncionTitle_fechaFuncion}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechaFuncion}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFuncionTitle_horario}"/>
                            </f:facet>
                            <h:outputText value="#{item.horario}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFuncionTitle_costo}"/>
                            </f:facet>
                            <h:outputText value="#{item.costo}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFuncionTitle_cupo}"/>
                            </f:facet>
                            <h:outputText value="#{item.cupo}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFuncionTitle_idObra}"/>
                            </f:facet>
                            <h:outputText value="#{item.idObra}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFuncionTitle_idSala}"/>
                            </f:facet>
                            <h:outputText value="#{item.idSala}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{funcionController.prepareCreate}" update=":FuncionCreateForm" oncomplete="PF('FuncionCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":FuncionViewForm" oncomplete="PF('FuncionViewDialog').show()" disabled="#{empty funcionController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":FuncionEditForm" oncomplete="PF('FuncionEditDialog').show()" disabled="#{empty funcionController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{funcionController.destroy}" update=":growl,datalist" disabled="#{empty funcionController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
