<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FuncionViewDlg" widgetVar="FuncionViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewFuncionTitle}">
            <h:form id="FuncionViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{funcionController.selected != null}">
                        <h:outputText value="#{bundle.ViewFuncionLabel_idFuncion}"/>
                        <h:outputText value="#{funcionController.selected.idFuncion}" title="#{bundle.ViewFuncionTitle_idFuncion}"/>
                        <h:outputText value="#{bundle.ViewFuncionLabel_fechaFuncion}"/>
                        <h:outputText value="#{funcionController.selected.fechaFuncion}" title="#{bundle.ViewFuncionTitle_fechaFuncion}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewFuncionLabel_horario}"/>
                        <h:outputText value="#{funcionController.selected.horario}" title="#{bundle.ViewFuncionTitle_horario}"/>
                        <h:outputText value="#{bundle.ViewFuncionLabel_costo}"/>
                        <h:outputText value="#{funcionController.selected.costo}" title="#{bundle.ViewFuncionTitle_costo}"/>
                        <h:outputText value="#{bundle.ViewFuncionLabel_cupo}"/>
                        <h:outputText value="#{funcionController.selected.cupo}" title="#{bundle.ViewFuncionTitle_cupo}"/>
                        <h:outputText value="#{bundle.ViewFuncionLabel_idObra}"/>
                        <h:outputText value="#{funcionController.selected.idObra}" title="#{bundle.ViewFuncionTitle_idObra}"/>
                        <h:outputText value="#{bundle.ViewFuncionLabel_idSala}"/>
                        <h:outputText value="#{funcionController.selected.idSala}" title="#{bundle.ViewFuncionTitle_idSala}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="FuncionViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
