<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SalasCreateDlg" widgetVar="SalasCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateSalasTitle}">
            <h:form id="SalasCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{salasController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateSalasLabel_idSala}" for="idSala" />
                        <p:inputText id="idSala" value="#{salasController.selected.idSala}" title="#{bundle.CreateSalasTitle_idSala}" required="true" requiredMessage="#{bundle.CreateSalasRequiredMessage_idSala}"/>
                        <p:outputLabel value="#{bundle.CreateSalasLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{salasController.selected.nombre}" title="#{bundle.CreateSalasTitle_nombre}" required="true" requiredMessage="#{bundle.CreateSalasRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.CreateSalasLabel_capacidad}" for="capacidad" />
                        <p:inputText id="capacidad" value="#{salasController.selected.capacidad}" title="#{bundle.CreateSalasTitle_capacidad}" required="true" requiredMessage="#{bundle.CreateSalasRequiredMessage_capacidad}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{salasController.create}" value="#{bundle.Save}" update="display,:SalasListForm:datalist,:growl" oncomplete="handleSubmit(args,'SalasCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="SalasCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
