<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SalasViewDlg" widgetVar="SalasViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewSalasTitle}">
            <h:form id="SalasViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{salasController.selected != null}">
                        <h:outputText value="#{bundle.ViewSalasLabel_idSala}"/>
                        <h:outputText value="#{salasController.selected.idSala}" title="#{bundle.ViewSalasTitle_idSala}"/>
                        <h:outputText value="#{bundle.ViewSalasLabel_nombre}"/>
                        <h:outputText value="#{salasController.selected.nombre}" title="#{bundle.ViewSalasTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewSalasLabel_capacidad}"/>
                        <h:outputText value="#{salasController.selected.capacidad}" title="#{bundle.ViewSalasTitle_capacidad}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="SalasViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
