<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ObraCreateDlg" widgetVar="ObraCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateObraTitle}">
            <h:form id="ObraCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{obraController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateObraLabel_idObra}" for="idObra" />
                        <p:inputText id="idObra" value="#{obraController.selected.idObra}" title="#{bundle.CreateObraTitle_idObra}" required="true" requiredMessage="#{bundle.CreateObraRequiredMessage_idObra}"/>
                        <p:outputLabel value="#{bundle.CreateObraLabel_director}" for="director" />
                        <p:inputText id="director" value="#{obraController.selected.director}" title="#{bundle.CreateObraTitle_director}" required="true" requiredMessage="#{bundle.CreateObraRequiredMessage_director}"/>
                        <p:outputLabel value="#{bundle.CreateObraLabel_titulo}" for="titulo" />
                        <p:inputText id="titulo" value="#{obraController.selected.titulo}" title="#{bundle.CreateObraTitle_titulo}" required="true" requiredMessage="#{bundle.CreateObraRequiredMessage_titulo}"/>
                        <p:outputLabel value="#{bundle.CreateObraLabel_pais}" for="pais" />
                        <p:inputText id="pais" value="#{obraController.selected.pais}" title="#{bundle.CreateObraTitle_pais}" required="true" requiredMessage="#{bundle.CreateObraRequiredMessage_pais}"/>
                        <p:outputLabel value="#{bundle.CreateObraLabel_actorPrincipal}" for="actorPrincipal" />
                        <p:inputText id="actorPrincipal" value="#{obraController.selected.actorPrincipal}" title="#{bundle.CreateObraTitle_actorPrincipal}" required="true" requiredMessage="#{bundle.CreateObraRequiredMessage_actorPrincipal}"/>
                        <p:outputLabel value="#{bundle.CreateObraLabel_autor}" for="autor" />
                        <p:inputText id="autor" value="#{obraController.selected.autor}" title="#{bundle.CreateObraTitle_autor}" required="true" requiredMessage="#{bundle.CreateObraRequiredMessage_autor}"/>
                        <p:outputLabel value="#{bundle.CreateObraLabel_idGenero}" for="idGenero" />
                        <p:selectOneMenu id="idGenero" value="#{obraController.selected.idGenero}" required="true" requiredMessage="#{bundle.EditObraRequiredMessage_idGenero}">
                            <f:selectItems value="#{generoController.itemsAvailableSelectOne}"
                                           var="idGeneroItem"
                                           itemValue="#{idGeneroItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{obraController.create}" value="#{bundle.Save}" update="display,:ObraListForm:datalist,:growl" oncomplete="handleSubmit(args,'ObraCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ObraCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
