<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListObraTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="ObraListForm">
                <p:panel header="#{bundle.ListObraTitle}">
                    <p:dataTable id="datalist" value="#{obraController.items}" var="item"
                                 selectionMode="single" selection="#{obraController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idObra}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListObraTitle_idObra}"/>
                            </f:facet>
                            <h:outputText value="#{item.idObra}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListObraTitle_director}"/>
                            </f:facet>
                            <h:outputText value="#{item.director}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListObraTitle_titulo}"/>
                            </f:facet>
                            <h:outputText value="#{item.titulo}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListObraTitle_pais}"/>
                            </f:facet>
                            <h:outputText value="#{item.pais}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListObraTitle_actorPrincipal}"/>
                            </f:facet>
                            <h:outputText value="#{item.actorPrincipal}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListObraTitle_autor}"/>
                            </f:facet>
                            <h:outputText value="#{item.autor}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListObraTitle_idGenero}"/>
                            </f:facet>
                            <h:outputText value="#{item.idGenero}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{obraController.prepareCreate}" update=":ObraCreateForm" oncomplete="PF('ObraCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":ObraViewForm" oncomplete="PF('ObraViewDialog').show()" disabled="#{empty obraController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":ObraEditForm" oncomplete="PF('ObraEditDialog').show()" disabled="#{empty obraController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{obraController.destroy}" update=":growl,datalist" disabled="#{empty obraController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
