<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ObraViewDlg" widgetVar="ObraViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewObraTitle}">
            <h:form id="ObraViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{obraController.selected != null}">
                        <h:outputText value="#{bundle.ViewObraLabel_idObra}"/>
                        <h:outputText value="#{obraController.selected.idObra}" title="#{bundle.ViewObraTitle_idObra}"/>
                        <h:outputText value="#{bundle.ViewObraLabel_director}"/>
                        <h:outputText value="#{obraController.selected.director}" title="#{bundle.ViewObraTitle_director}"/>
                        <h:outputText value="#{bundle.ViewObraLabel_titulo}"/>
                        <h:outputText value="#{obraController.selected.titulo}" title="#{bundle.ViewObraTitle_titulo}"/>
                        <h:outputText value="#{bundle.ViewObraLabel_pais}"/>
                        <h:outputText value="#{obraController.selected.pais}" title="#{bundle.ViewObraTitle_pais}"/>
                        <h:outputText value="#{bundle.ViewObraLabel_actorPrincipal}"/>
                        <h:outputText value="#{obraController.selected.actorPrincipal}" title="#{bundle.ViewObraTitle_actorPrincipal}"/>
                        <h:outputText value="#{bundle.ViewObraLabel_autor}"/>
                        <h:outputText value="#{obraController.selected.autor}" title="#{bundle.ViewObraTitle_autor}"/>
                        <h:outputText value="#{bundle.ViewObraLabel_idGenero}"/>
                        <h:outputText value="#{obraController.selected.idGenero}" title="#{bundle.ViewObraTitle_idGenero}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ObraViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
